<div class='container'>
  <h1 id='main-header'></h1>
  <hr />

  <input type='text' id='user-input' />

  <button type='button' class='btn' id='add-user'>
    Add
  </button>
  <br />
  <!-- <button id='toggle-user-list'>Toggle User List</button> -->

  <ul id='users-list'>

  </ul>

  <button id='toggle-user-list'>Toggle User List</button>
</div>
